section#activity
  h2.visuallyhidden Activity Feed
  .tabbable
    ul.nav.nav-tabs
      li.active: a(href="#my-activity", data-toggle="tab") My Activity
      li: a(href="#group-activity", data-toggle="tab") Group Activity
      li: a(href="#global-activity", data-toggle="tab") Everyone
    div.tab-content
      div.tab-pane.active#my-activity
        ul.activity-feed
          li
            div.feed-avatar
              img(src="../img/placeholder-avatar.png")
            div.feed-text
              p Your Facebook Friend Brandon in San Francisco, CA registered to vote!
          li
            div.feed-avatar
              img(src="../img/placeholder-avatar.png")
            div.feed-text
              p Your Facebook Friend Brandon in San Francisco, CA registered to vote!
          li
            div.feed-avatar
              img(src="../img/placeholder-avatar.png")
            div.feed-text
              p Your Facebook Friend Brandon in San Francisco, CA registered to vote!
          li
            div.feed-avatar
              img(src="../img/placeholder-avatar.png")
            div.feed-text
              p Your Facebook Friend Brandon in San Francisco, CA registered to vote!
      div.tab-pane#group-activity
        ul.activity-feed
          li
            div.feed-avatar
              img(src="../img/placeholder-avatar.png")
            div.feed-text
              p Your Facebook Friend Brandon in San Francisco, CA registered to vote!

          li
            div.feed-avatar
              img(src="../img/placeholder-avatar.png")
            div.feed-text
              p Your Facebook Friend Brandon in San Francisco, CA registered to vote!

          li
            div.feed-avatar
              img(src="../img/placeholder-avatar.png")
            div.feed-text
              p Your Facebook Friend Brandon in San Francisco, CA registered to vote!

      div.tab-pane#global-activity
        ul.activity-feed
          li
            div.feed-avatar
              img(src="../img/placeholder-avatar.png")
            div.feed-text
              p Your Facebook Friend Brandon in San Francisco, CA registered to vote!

          li
            div.feed-avatar
              img(src="../img/placeholder-avatar.png")
            div.feed-text
              p Your Facebook Friend Brandon in San Francisco, CA registered to vote!

          li
            div.feed-avatar
              img(src="../img/placeholder-avatar.png")
            div.feed-text
              p Your Facebook Friend Brandon in San Francisco, CA registered to vote!

          li
            div.feed-avatar
              img(src="../img/placeholder-avatar.png")
            div.feed-text
              p Your Facebook Friend Brandon in San Francisco, CA registered to vote!

          li
            div.feed-avatar
              img(src="../img/placeholder-avatar.png")
            div.feed-text
              p Your Facebook Friend Brandon in San Francisco, CA registered to vote!

          li
            div.feed-avatar
              img(src="../img/placeholder-avatar.png")
            div.feed-text
              p Your Facebook Friend Brandon in San Francisco, CA registered to vote!
