#tease
  .current-record-indicator
    img(src="/img/record-black.png", alt="black record icon.")
  .tease-text
    h3 Win Free Movie Passes at 
      span.next-level Gold Record Status 
      a.prize-view-link(href="#allprizes") See All Prizes
    p.subtle
      strong Hint: 
      | To earn more points try sharing on Facebook &mdash; 
      a(href="#morehints") More Hints