div#progress
  ul.progress.progress-striped
    li.bar(style="width:25%;")
    li
    li
    li
//- TODO: Style Secondary Record Indicators
  ul.record-indicators
    li.black black
    li.silver silver
    li.gold gold
    li.platinum platinum
    li.diamond diamond